extends layout.pug

block content
	h1 Site use disclaimer
	ol
		li Please note that by pressing the “I accept” button at the end of the agreement you confirm to Sync-Audio that you have read the terms and conditions of the agreement its associated schedules applicable to the service you are purchasing from the site. This will also apply to users submitting tracks into the Sync-Audio library.
		li The licensee shall not be liable for any direct, indirect, incidental, special, exemplary, or consequential damages or loss of data, during the submission or download process as licensor submitting tracks into the audio library you are fully responsible to hold originals, masters, and copies of the “tracks” submitted.
		li On entering the agreement the licensee is free from any third party claims to ownership rights, proceeds or profits pertaining to tracks submitted on the basis that the licensor upon submission of tracks satisfied the submission criteria that the tracks submitted were free from such claims.